
body {

	font-family: 'Amatic SC', cursive;
	font-size: 24px;
	background-color: #FF8000;
}

h1 {
	
	font-family: 'Nosifer', cursive;
	color: #FF8000;
	text-align: center;
}

label {

	font-size: 26px;
	font-weight: bolder;
	background-color: Black;
	color: #FF8000;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

button {

	margin: 15px;
}

button:hover {

	color: #FF8000;
	background-color: Black;
}

.jumbotron {
	
	background-color: Black;
}

.topic {

	font-size: 26px;
	font-weight: bold;
}

.rating {

	font-size: 20px;
	font-weight: bold;
}

.topic-fig {

	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
}

#topic-form {

	text-align: center;
	padding: 40px;
	background-color: Black;
	margin-top: 20px;
	margin-bottom: 40px;
}

#add-topic {

	font-size: 26px;
	font-weight: bolder;
	background-color: #FF8000;
}

#add-topic:hover {

	color: #FF8000;
	background-color: Black;
}

#topic-input {

	font-size: 26px;
	font-weight: bolder;
}